<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
  <span>Cadastro</span>
</h6>

<li class="nav-item">
  <%= link_to  orders_path, class: 'nav-link' do %>
    <span class='bi bi-journal-plus'> Lançamentos</span>
  <% end %>
</li>

<li class="nav-item">
  <%= link_to  group_conts_path, class: 'nav-link' do %>
    <span class='bi bi-files'> Grupo de Contas</span>
  <% end %>
</li>
<li class="nav-item">
  <%= link_to  budgets_path, class: 'nav-link' do %>
    <span class='bi bi-file'> Orçamento</span>
  <% end %>
</li>
<li class="nav-item">
  <%= link_to  people_path, class: 'nav-link' do %>
    <span class='bi bi-people'> Pessoas</span>
  <% end %>
</li>

<li class="nav-item">
  <%= link_to  payments_path, class: 'nav-link' do %>
    <span class='bi bi-bank'> Contas</span>
  <% end %>
</li>

</ul>
