							<% @card_title = "Registro de " + @person.model_name.human(count: 1) %>
															<p>
								<strong><%= translate 'activerecord.attributes.person.name' %>:</strong>
								<%= @person.name %>
								</p>
																<p>
								<strong><%= translate 'activerecord.attributes.person.tipo' %>:</strong>
								<%= @person.tipo %>
								</p>
																<%= btn_edit(edit_person_path(@person)) %> | 
								<%= btn_back(people_path) %>
