<%= simple_form_for([@group_cont, Cont.new], wrapper: :horizontal_form , 
      wrapper_mappings: {  boolean:       :horizontal_boolean}, 
      defaults: { input_html: { class: 'form-control-sm my-1' }, 
				label_html: { class: 'col-form-label  col-form-label-sm' } }) do |f| %>
  <% if @group_cont.errors.any? %>
    <div data-controller='message' 
              data-message-name-value="error"  
              data-message-msg-value="<%= pluralize(@group_cont.errors.count, "error") %> encontrado(s), por favor verifique:">
    </div>
  <% end %>
  <p><%= f.input :name %> </p>
   <p><%= f.input :active, input_html: { class: 'form-check-input' }, label: false %> </p>
  <hr>
  <%= btn_save %>  <% @btn_new = btn_back(group_conts_path) %>
<% end %>
