<div class="container">
  <%= simple_form_for(@order, 
	  wrapper: :horizontal_form,
	  defaults: { input_html: { class: 'form-control-sm m-2' }, 
	  label_html: { class: 'col-form-label col-form-label-sm' } }) do |f| %>
    <% if @order.errors.any? %>
      <div data-controller='message' 
              data-message-name-value="error"  
              data-message-msg-value="<%= pluralize(@order.errors.count, "error") %> encontrado(s), por favor verifique:">
      </div>
    <% end %>
    <%= f.association :cont, collection: @conts, prompt: false, label_method: :name_cont %>
    <%= f.association :person, prompt: false %>
    <%= f.input :data, as: :string, input_html: {type: 'date', value: Time.now.strftime("%F")} %>
    <%= f.input :total, input_html: {min: 0.01} %>
    <%= disable_field(f, :parcela) %>
    <hr>
    <%= btn_save %>  <%  @btn_new = btn_cancel(orders_path) %>
  <% end %>
</div>
