<%= simple_form_for(@group_cont, defaults: { input_html: { class: 'form-control-sm' }, 
				label_html: { class: 'col-form-label col-form-label-sm' } }) do |f| %>
  
  <% if @group_cont.errors.any? %>
    <div data-controller='message' 
      data-message-name-value="error"  
      data-message-msg-value="<%= pluralize(@group_cont.errors.count, "error") %> encontrado(s), por favor verifique:">
    </div>
  <% end %>

  <%= f.input :tipo, collection: GroupCont.tipos.keys, prompt: false %>
  <%= f.input :name %>
  <%= f.input :active %>
  <%= btn_save %>  <% @btn_new = btn_cancel(group_conts_path) %>
<% end %>
