<% @card_title = "Registro de " + @group_cont.model_name.human(count: 1) %>
<p>
  <strong><%= translate 'activerecord.attributes.group_cont.user' %>:</strong>
  <%= @group_cont.user %>
</p>
<p>
  <strong><%= translate 'activerecord.attributes.group_cont.tipo' %>:</strong>
  <%= @group_cont.tipo %>
</p>
<p>
  <strong><%= translate 'activerecord.attributes.group_cont.name' %>:</strong>
  <%= @group_cont.name %>
</p>
<p>
  <strong><%= translate 'activerecord.attributes.group_cont.active' %>:</strong>
  <%= @group_cont.active %>
</p>
<%= btn_edit(edit_group_cont_path(@group_cont)) %> | 
<%= btn_back(group_conts_path) %>
